<% layout('boilerplate') %>
<div class="show-wrapper">
    <div class="show-container">
        <div class="show-col">
            <h1>The latest news summarized in 7 short sentences</h1>
            <img style="width: 100%;" src="https://images.unsplash.com/photo-1587302301133-7a3aa8bbce87?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="">
        </div>
        <div class="show-col">
            <h2>About</h2>
            <br>
            <p><b>Paperboy</b> is a summarized news website for people us, who do not like to read long news articles. It is powered by <a href="https://github.com/algao1/basically" target="_blank"><em>basically</em></a>, a homemade Go implementation of the TextRank and Biased TextRank algorithm.</p>
            <p>We utilize <em>The Guardian</em> APIs and updates hourly to bring you the latest summarized news.</p>
            <br>
            <h2>Development</h2>
            <br>
            <h3>Backend</h3>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aliquid est eius minus debitis dolore nulla, impedit doloremque labore quasi nostrum sed tempora! Ab adipisci repellat voluptates ea nihil deserunt?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aliquid est eius minus debitis dolore nulla, impedit doloremque labore quasi nostrum sed tempora! Ab adipisci repellat voluptates ea nihil deserunt?</p>
            <br>
            <h3>Frontend</h3>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aliquid est eius minus debitis dolore nulla, impedit doloremque labore quasi nostrum sed tempora! Ab adipisci repellat voluptates ea nihil deserunt?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aliquid est eius minus debitis dolore nulla, impedit doloremque labore quasi nostrum sed tempora! Ab adipisci repellat voluptates ea nihil deserunt?</p>
            <br>
            <h3>Deployment</h3>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aliquid est eius minus debitis dolore nulla, impedit doloremque labore quasi nostrum sed tempora! Ab adipisci repellat voluptates ea nihil deserunt?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aliquid est eius minus debitis dolore nulla, impedit doloremque labore quasi nostrum sed tempora! Ab adipisci repellat voluptates ea nihil deserunt?</p>

            <!-- <img src="https://images.unsplash.com/photo-1541613569553-332a2574a508?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt=""> -->
        </div>
    </div>
    <br>
    <br>
    <!-- <div class="hdivider"></div>
    <br>
    <div class="keep-reading slide-in">
        <p class="kr">Start reading...</p>
        
        <div style="display: flex; flex-direction: row; justify-content: center;">
            <div class="show-col">
                <img class="news-img" src="https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                <a class="btn btn-0" href="/world">Start reading</a>
            </div>
            <div class="show-col" style="margin-top: 0;">
                <img class="news-img" src="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80">
                <a class="btn btn-0" href="/">Start reading</a>
            </div>
        </div>
    </div> -->
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/vScroll.js"></script>