<% layout('boilerplate') %>
<div class="show-wrapper">
    <div class="show-container">
        <div class="show-col">
            <h1>The latest news summarized in 7 short sentences</h1>
            <img style="width: 100%;" src="https://images.unsplash.com/photo-1587302301133-7a3aa8bbce87?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="">
        </div>
        <div class="show-col">
            <h2>About</h2>
            <br>
            <p>Paperboy is a news website for people like us, who do not like to read long news articles. It is powered by <a href="https://github.com/algao1/basically" target="_blank"><b class="bold">basically</b></a>, a homemade Go implementation of the TextRank and Biased TextRank algorithm that extracts keywords, removes transition phrases and other unimportant details.</p>
            <p>We utilize <a href="https://www.theguardian.com/international" target="_blank"><b class="bold">The Guardian</b></a> APIs and updates hourly to bring you the latest summarized news.</p>
            <br>
            <h2>Development</h2>
            <br>
            <h3>Frontend</h3>
            <br>
            <p>The frontend of this website is built using <b class="bold">Node</b>, <b class="bold">Express</b>, and <b class="bold">EJS templating engine</b>.</p>
            <p>All news from the backend are fetched through <b class="bold">Axios</b> requests and the website is made fully responsive with custom css scripts and <b class="bold">Bootstrap</b>. <b class="bold">jQuery</b> and custom JavaScript are used to achieve infinite horizontal scrolling.</p>
            <a class="btn btn-0" href="https://github.com/ZhongchiLeoLi/paperboy-front" target="_blank">View Source Code</a>
            <br>
            <br>
            <br>
            <h3>Backend</h3>
            <br>
            <p>The backend of this website is written completely in <b class="bold">Go</b> including a custom, lightweight task scheduler using Go's runtime-reflection to aggregate news periodically.</p>
            <p><b class="bold">MongoDB</b> was selected, as it allowed for easy storage, management, and querying of data with text. A custom API pagination solution was built using MongoDB. Additionally, a rudimentary search engine was also implemented using MongoDB's <em>searchIndex</em> and fuzzy matching.</p>
            <p><b class="bold">Redis</b> is used for server-assisted client side caching to improve performance of MongoDB queries.</p>
            <a class="btn btn-0" href="https://github.com/algao1/paperboy-back" target="_blank">View Source Code</a>
            <br>
            <br>
            <br>
            <h3>Deployment</h3>
            <br>
            <p>Both the frontend and backend are containerized using <b class="bold">Docker</b> into Docker Images and the entire project is deployed on <b class="bold">Google Cloud Platform Kubernetes Engine</b>.</p>
            <br>

            <!-- <img src="https://images.unsplash.com/photo-1541613569553-332a2574a508?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt=""> -->
        </div>
    </div>
    <br>
    <br>
    <!-- <div class="hdivider"></div>
    <br>
    <div class="keep-reading slide-in">
        <p class="kr">Start reading...</p>
        
        <div style="display: flex; flex-direction: row; justify-content: center;">
            <div class="show-col">
                <img class="news-img" src="https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
                <a class="btn btn-0" href="/world">Start reading</a>
            </div>
            <div class="show-col" style="margin-top: 0;">
                <img class="news-img" src="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80">
                <a class="btn btn-0" href="/">Start reading</a>
            </div>
        </div>
    </div> -->
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/vScroll.js"></script>