.home-wrapper h1 {
    font-size: 1.5rem !important;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
}

.hidden {
    display: block;
}

.headline {
    margin-top: 3rem !important; 
    margin-bottom: -3rem; 
    padding: 1rem;
    width: 100%; 
    font-size: 2.3rem;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    z-index: 99;
}

.row>*{
    padding-left: 0;
    padding-right: 0;
}

form {
    height: 2.5rem;
}

.btn{
    font-size: 0.9rem;
    margin-top: 1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0;
    text-transform: uppercase;
    border: 1px solid currentColor;
    position: relative;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  }

  .search-btn{
    font-size: 0.9rem;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0;
    text-transform: uppercase;
    border: 1px solid currentColor;
    position: relative;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    color: #d4a14e !important;
    border-color: #1b1f24;
    background: #1b1f24;
  }
  
  .search-btn:hover {
    border-color: #393c3f;
    background-color: #393c3f;
  }
  

.home-wrapper{
    min-width: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    align-items: center;
    margin-left: 15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }


  #page-content-wrapper  {
    overflow: unset;
    position: relative;
    height: unset;
  }


.home-wrapper.toggled {
    margin-left: 0rem;
}

.home-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.home-col {
    margin: 0rem 2rem;
    width: 100%;
  }

.home-col:last-child {
    padding-bottom: 5rem;
}

.hdivider {
    width: 100%;
    margin: 2rem auto;
    border-top: 1px solid;
    opacity: 25%;
  }

@media (min-width: 785px) {
    #page-content-wrapper {
        overflow: hidden;
        position: relative;
        height: 100vh;
    }
    .home-wrapper{
      margin-left: 18rem;
      margin-right: 3rem;
      min-width: 1200px;
    }
    .home-wrapper.toggled{
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .home-container{
        flex-direction: row;
    }
    .home-col {
        margin: 0rem 2rem;
        width: 25%;
    }
    .home-col:nth-child(8) {
        width: 20%;
    }
    .home-col:nth-child(5) {
        width: 30%;
    }
    .home-col:last-child {
        padding-bottom: 0rem;
    }
    .headline {
        margin-top: 4rem !important; 
        padding-left: 3rem;
        padding-right: 3rem;
        width: 100%; 
        font-size: 2.3rem;
    }
    .home-wrapper h1 {
        font-size: 1.9rem !important;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .home-wrapper .smaller{
        font-size: 1.5rem !important;
    }
    
    .home-wrapper .smallest {
        font-size: 1.2rem !important;
    }
    p {
        font-size: 1.1rem;
    }
    .hidden {
        display: none;
    }
}